@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(102, 102, 102, 0.1)
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .7rem;
      padding-left: .7rem;
  }
}

.btn-primary {
  color: #ffffff;
  background-color: #712086;
  border-color: #712086;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #712086;
  border-color: #712086;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #5f1a71;
  border-color: #5f1a71;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #9433ad;
  border-color: #9433ad
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: #712086;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #7AE0BB;
}

.wiggle-button {
  -webkit-animation: wiggle 2s linear infinite;
  -moz-animation: wiggle 2s linear infinite;
  -o-animation: wiggle 2s linear infinite;
  animation: wiggle 2s linear infinite;
}

.bg-overlay {
  background: linear-gradient(rgba(37,31,71,.8), rgba(37,31,71,.8)), url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 950px;
  display:flex;
  align-items:center;
  text-align: center;
  margin-top: -80px;
}

.bg-overlay h1 {
  font-weight: bold;
}

.bg-overlay .welcome-button {
  height: 50px;
  font-size: 20px;
  padding: 0 20px;
  margin-top: 30px;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}