@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #251F47;
  color: #ffffff;
}

h1 {
  font-weight: 600;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(102, 102, 102, 0.1)
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .7rem;
      padding-left: .7rem;
  }
}

.btn-primary {
  color: #ffffff;
  background-color: #712086;
  border-color: #712086;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #712086;
  border-color: #712086;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #5f1a71;
  border-color: #5f1a71;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #9433ad;
  border-color: #9433ad
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: #712086;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #7AE0BB;
}

.wiggle-button {
  -webkit-animation: wiggle 2s linear infinite;
  -moz-animation: wiggle 2s linear infinite;
  -o-animation: wiggle 2s linear infinite;
  animation: wiggle 2s linear infinite;
}

.bg-overlay {
  background: linear-gradient(rgba(37,31,71,.8), rgba(37,31,71,.8)), url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 950px;
  display:flex;
  align-items:center;
  text-align: center;
  margin-top: -80px;
}

.bg-overlay h1 {
  font-weight: bold;
}

.welcome-button {
  height: 50px;
  font-size: 20px;
  padding: 0 20px;
  margin-top: 30px;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.pricing {
  background-color: #7AE0BB;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 4px solid #7AE0BB;
}

.pricing.active {
  border: 4px solid #ffffff;
}

.anchor-link {
  color: #ffffff;
  text-decoration: underline;
}

.anchor-link:hover {
  color: #7AE0BB;
}

.footer-link {
  color: #ffffff;
}

.footer-link:hover {
  color: #7AE0BB;
}

.process-number {
  border-radius: 50%;
  padding: 5px 12px;
  font-weight: bold;
  background: #7AE0BB;
  color: #ffffff;
  text-align: center;
  margin-right: 20px;
}

.process-number-one {
  border-radius: 50%;
  padding: 5px 14px;
  font-weight: bold;
  background: #7AE0BB;
  color: #ffffff;
  text-align: center;
  margin-right: 20px;
}

.pt-8 {
  margin-top: 150px !important;
}

.pb-8 {
  margin-bottom: 150px !important;
}

.who-we-are-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/who-we-are.png);
  background-blend-mode: screen multiply;
}

.services-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/services.png);
  background-blend-mode: screen multiply;
}

.pricing-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/pricing.png);
  background-blend-mode: screen multiply;
}

.why-us-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/why-us.png);
  background-blend-mode: screen multiply;
}

.process-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #341f54;
}

.why-us-header {
  margin-top: -80px;
  padding-top: 150px;
  padding-bottom: 80px;
  background-color: #341f54;
}

.why-us-section {
  padding-top: 130px;
  padding-bottom: 30px;
}

.why-us-section-overlay-1 {
  padding-top: 130px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-image: url(../images/why-us-bg-2.png);
  background-blend-mode: screen multiply;
}

.why-us-section-overlay-2 {
  padding-top: 130px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-image: url(../images/why-us-bg.png);
  background-blend-mode: screen multiply;
}

.our-services-section {
  padding-top: 130px;
  padding-bottom: 100px;
}

.how-to-section {
  padding-top: 130px;
}

.accordion > .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #341F54;
  background-clip: border-box;
  border: 1px solid #251F47;
  border-radius: .25rem;
}

.accordion > .card > .card-header > .btn-link {
  color: #ffffff !important;
  font-weight: 600;
}

.accordion > .card > .collapse > .card-body,
.accordion > .card > .collapsing > .card-body {
  padding: 15px 30px !important;
  font-size: 14px;
  background-color: #494170;
}

.about-header {
  margin-top: -80px;
  padding-top: 150px;
  padding-bottom: 230px;
  background-color: #341f54;
}

.about-section-second {
  margin-top: -300px;
  padding-bottom: 150px;
}

.marksmen-overlay {
  padding-top: 150px;
  padding-bottom: 150px;
  /* background-repeat: no-repeat;
  background-image: url(../images/services.png);
  background-blend-mode: screen multiply; */
}

.person-overlay {
  background-repeat: no-repeat;
  background-image: url(../images/person-bg.png);
  background-blend-mode: screen multiply;
}

.person-info {
  background: #712086;
  padding-top: 30px;
  padding-bottom: 20px;
}

.process-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/pricing.png);
  background-blend-mode: screen multiply;
}

.get-started-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/why-us.png);
  background-blend-mode: screen multiply;
}

.schedule-a-call-section {
  padding-top: 30px;
  padding-bottom: 30px;
}


